@import "tailwindcss";

/* @tailwind base;
@tailwind components; */
@tailwind utilities;
/* @source "../views"; */

/* @source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php'; */
/* @source '../../storage/framework/views/*.php'; */

/* Mendeklarasikan font lokal */
@font-face {
    font-family: 'Caveat';
    src: url('/fonts/caveat/Caveat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.mySwiper {
    width: 100%;
    padding-left: 2rem; /* kasih jarak kiri */
    padding-right: 2rem; /* kasih jarak kanan */
}

.mySwiper .swiper-slide {
    width: 250px; /* atur ukuran kartu biar nggak kepotong */
}



